<div class="peupler">
	<div class="btn_peuple">
		<span><a href=http://127.0.0.1:8081/peupler><i class="fas fa-user-plus"></i></a></span>
		<span><a href=http://127.0.0.1:8081/vider><i class='fa fa-trash-alt'></i></a></span>
		<span>
			<form id="recherche" action = "http://127.0.0.1:8081/rechercher" method = "get">
				<input type = "text" name = "rechercher">
				<input type = "submit" value = "rechercher">
			</form>
		</span>
	</div>
</div>