<section id="profil_card">

	<div class="card" style="width: 20rem;">
		
		<i class="fas fa-user-circle"></i>

		<div class="card-block">
			<h4 class="card-title"><%=personne[0].prenom%> <%=personne[0].nom%></h4>
		</div>

		<ul class="list-group list-group-flush">
			<li class="list-group-item">Tél: <%=personne[0].telephone%></li>
			<li class="list-group-item">Email: <%=personne[0].email%></li>
		</ul>
	</div>
    
</section>