<!DOCTYPE html>
<html lang="fr">
<%- include('composants/head.ejs') %>

<% let acceuil = false %>
<% let rechercher = false %>
<% let prof = false %>
<%if (typeof acc !== 'undefined' && acc==true){acceuil = true}%>
<%if (typeof recherche !== 'undefined' && recherche==true){rechercher = true}%>
<%if (typeof profil !== 'undefined' && profil==true){prof = true}%>

<body>

	<%- include('composants/header.ejs') %>
	<%- include('composants/menu.ejs') %>
	
	<section id="principal">

		<% if(prof == true){ %>
			<%- include('composants/profil.ejs') %>
			<%- include('composants/lien_retour.ejs') %>

		<%}else{%>

			<% if(acceuil == true){ %>

				<%- include('composants/accueil.ejs') %>

			<%}else{%>

				<%- include('composants/header_membres.ejs') %>

				<div class="principaleForm">

					<div class="contenuFormulaire">
				 		<%- include('composants/formulaire.ejs') %>
				 	</div>

					<div class="contenu">
						<%- include('composants/peupler.ejs') %>
						<%- include('composants/tableau.ejs') %>
						<% if(rechercher == true){ %>

							<%- include('composants/lien_retour.ejs') %>

						<%}%>
					</div>

				</div>

			 	<%- include('composants/membres.ejs') %>

		 	<%}%>
		 <%}%>
 	</section>

	<%- include('composants/footer.ejs') %>
</body>
</html>