body{
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

header{
    margin-left: 15px;
    margin-top: 15px;
    margin-bottom: 15px;

    .fa-uikit{
        color: goldenrod;
        font-size: 100px;
    }

    h3{
        color: goldenrod;
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        display: inline-block;
        margin-left: 23px;
        position: absolute;
        top: 50px;
    }
}

nav {
    background-color: black;
    display: flex;
	justify-content: center;
    align-items: center;
    padding-top: 10px;

    ul{
        display: flex;
        list-style-type: none;
        margin-left: -15px;
        

        li{
            margin-right: 25px;

            a{
                text-decoration: none;
                color: white;
                display: flex;
			    justify-content: center;
			    align-items: center;
            }

            a:hover{
                text-decoration: none;
                color: goldenrod;
            }

        }
    }
}

span {
    .fa-arrow-left {
    color: white;
  }

  a{
      color: white;
      text-decoration: none;
      cursor: pointer;
  }

  a:hover{
    color: white;
    text-decoration: none;
    cursor: pointer;
  }
}

.fa-user-plus {
    margin-left: 20px;
    color: white;
    font-size: 25px;
}

.fa-trash-alt {
    margin-left: 20px;
    color: white;
    font-size: 25px;
}

.fa-user {
    color: goldenrod;
}

.fa-save {
    color: green;
}

.fa-times-circle {
    color: red;
}

.fa-home {
    margin-right: 5px;
}

.fa-list {
    margin-right: 5px;
}

.fa-user-circle {
    margin-left: 15px;
    margin-top: 15px;
    color: goldenrod;
    font-size: 80px;
}

.btn-retour {
    cursor: pointer;
    border-radius: 7px;
    padding: 10px;
    margin-left: 20px;
    color: #fff;
    background-color: goldenrod;
    border-color: goldenrod;
}

.card{
    margin: 20px;
}

#formAjouter {
    border: goldenrod solid 2px;
    padding: 20px;
    margin: 20px;

    label {
        margin-right: 10px;
    }
}

#recherche{
    display: initial;
    margin-left: 20px;
}

.btn_peuple{
    background-color: goldenrod;
    padding: 10px;
}

.head_membres {
    margin-left: 20px;
    margin-top: 20px;
    color: goldenrod;
}

footer{
	display: flex;
	justify-content: center;
    align-items: center;
    width: 100%;
    background-color: black;
    padding: 20px;
    margin-top: 20px;

    p{
        margin-top: 10px;
        margin-left: 15px;
        color: goldenrod;
        text-transform: uppercase;
        font-size: 10pt;
    }
}

.tableau{
    margin: 15px;
    cursor: pointer;
    border-collapse: collapse;

    th {
        padding:14px;
        background-color: #222222;
        border: solid 1px rgb(153, 153, 153);
      }

      th a {
        text-decoration: none;
        color: goldenrod;
        text-transform: uppercase;
      }

      td{
          padding: 14px;
          border: solid 1px rgb(153, 153, 153);
      }

      tbody {
        background: #f5f5f5;
      }
      
      .tableau tr:hover {
        background-color: #f5f5f5;
      }
}